.displayBox {
    height: 275px;
    width: auto;
}

h3 {
    text-align: center;
}

li:hover {
    cursor: pointer;
}

/* Add a 'selected' class here to style selected astronaut names a different color. */
.selected{
    color:rgb(235, 28, 62);
}

.visible {
    visibility: hidden;
}